
<div class="block clearfix">
  <md-button-toggle-group [(ngModel)]="show_mode" style="float: right">
    <md-button-toggle value="1">
      <i class="fa fa-align-center" aria-hidden="true"></i>
    </md-button-toggle>
    <md-button-toggle value="2">
      <i class="fa fa-align-justify" aria-hidden="true"></i>
    </md-button-toggle>
  </md-button-toggle-group>
</div>

<div class="container">
  <div  *ngIf="show_mode==2" [@fadeInOut]>
    <div class="show_1 center">
      <div *ngIf="objects" >
        <md-card *ngFor="let object of objects" >
          <img *ngIf="object.url" src="{{object.url}}?x-oss-process=image/resize,h_300/auto-orient,1" (click)="img_click(object)" style="max-width: 100%" alt="">
          <div *ngIf="!object.url && !object.fileItem">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
          <div *ngIf="!object.url && object.fileItem">
            <img *ngIf="object.src" src={{object.src}} alt="" width="100%">


            <div style="margin-top: 24px">
              <div  style="padding: 2em;">
                <div class="summary">正在上传</div>
                <md-progress-bar
                  class="example-margin"
                  color="primary"
                  mode="determinate"
                  [value]="object.fileItem.progress"
                >
                </md-progress-bar>
                {{object.fileItem.isError}}

              </div>
            </div>
          </div>
        </md-card>
      </div>
      <div class="upload">
        <md-card class="upload-card"
                 [ngClass]="{'file-over': hasBaseDropZoneOver}"
                 ng2FileDrop
                 [uploader]="uploader"
                 (fileOver)="dropfile($event)"
                 (onFileDrop)="test()">
          <div class="center card-summary">
            <i class="fa fa-upload fa-3x" aria-hidden="true"></i>
          </div>
          <input type="file" ng2FileSelect [uploader]="uploader" multiple #upload (change)="test()"/>
        </md-card>
      </div>
    </div>
  </div>
  <div  *ngIf="show_mode==1"  [@fadeInOut]>
    <div class="show_1 center clearfix">
      <div *ngIf="objects"  >
        <div *ngFor="let object of objects"  [ngClass]="{start: object.isStart}" class="object-box">
          <div *ngIf="object.url"
               (click)="img_click(object)"
               [ngStyle]="
               {
                width: object.showWidth -4 +'px',
                height:object.showHeight -4+'px',
                'background-image':'url('+object.url+'?x-oss-process=image/resize,h_300)'
                }"
               class="object-box-img"
          >

          </div>
          <div *ngIf="!object.url && !object.fileItem" [ngStyle]="
           {
                width: object.showWidth -4 +'px',
                height:object.showHeight -4+'px'
            }" class="table-center">
            <div class="table-center-content">
              <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngIf="!object.url && object.fileItem" [ngStyle]="
           {
                width: object.showWidth -4 +'px',
                height:object.showHeight -4 +'px'
            }" class="upl " [@fadeInOut]>
            <img *ngIf="object.src"

                 src="{{object.src}}"
                 style="height:100%;">
            <div class="uper table-center">
              <div class="table-center-content" style="padding: 2em;">
                <div class="summary">正在上传</div>
                <md-progress-bar
                  class="example-margin"
                  color="primary"
                  mode="determinate"
                  [value]="object.fileItem.progress"
                >
                </md-progress-bar>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="upload center" style="max-width: 800px">
      <div class="upload-card"
           [ngClass]="{'file-over': hasBaseDropZoneOver}"
           ng2FileDrop
           [uploader]="uploader"
           (fileOver)="dropfile($event)"
           (onFileDrop)="test()"
           style="background-color: #e8e8e8;"
      >
        <div class="center card-summary">
          <i class="fa fa-upload fa-3x" aria-hidden="true"></i>
        </div>
        <input type="file" ng2FileSelect [uploader]="uploader" multiple #upload (change)="test()"/>
      </div>
    </div>

  </div>
</div>


<app-room-pic-preview *ngIf="imageExpress.show" [imageExpress]="imageExpress" [@fadeInOut]></app-room-pic-preview>
