<div class="container">
  <div class="banner">
    <div class="center banner-title">
      <section>某物计划</section>
      <section>寻找美好生活</section>
    </div>
  </div>
  <div class="center show-list">
    <div class="show">
      <section class="title">联系</section>
      <section class="summary">
        如果你想与我联系
        <br>除了微信外，你还能send E-mail给我
        <br>
        <br> <b> <a md-raised-button href="mailto:Yskun@outlook.com">Yskun@outlook.com</a> </b>
      </section>
    </div>
    <div class="show">
      <section class="title">2017年02月19日</section>

      <section class="summary">
        修复诸多问题
        <br>改善用户体验
        <br>以及版面问题
      </section>
    </div>
    <div class="show">
      <section class="title">2017年1月26日</section>

      <section class="summary">
        略带仓促地
        <br>终于赶在了农历新年前发布了首个版本
        <br>由于本人的知识面的不足
        <br>所以BUG尚多
        <br>望见谅
        <br>当然也正如我所给自己的承诺
        <br>这是一个新的起点
        <br>来日也方长
        <br>大家就一起努力吧
        <br>
        <br>嗯
        <br>就这样吧
        <br>新年快乐
      </section>
    </div>
  </div>
</div>
