<div class="container">
  <div class="banner">
    <div class="center banner-title">
      <section>某物计划</section>
      <section>In Order To Face U.</section>
    </div>
  </div>
  <div class="show center">
    <section class="title">作品</section>
    <a md-raised-button [routerLink]="['../room']">房间</a>
    <section class="summary">
      房间<br>
      一个简单的分享平台<br>
      每一位访客均可上传下载<br>
      分享的内容
    </section>
  </div>

  <div class="show center">
    <section class="title">了解·联系·加入</section>
    <a md-raised-button [routerLink]="['about']">某物计划</a>
  </div>

</div>
